@font-face {
    font-family: TimerFont;
    src: url(CursedTimerUlil-Aznm.ttf); 
    /* Adding a new font using a .tff file which we have uploaded
     * to our coding folder
     */
}

body {
    margin: 0; 
    background-color: #1B244A; 
}

.scoreContainer {
    display: flex; 
    /* We want to start by dividing it into two different columns
     * so we use a flexbox to achieve that    
     */
    justify-content: space-evenly; 
    /* This achieves a specific desired layout but there can be multiple 
     * values which can help us to achieve that   
     */
}

.title-el {
    /* Note that many of these values have been used with Figma's help*/
    font-family: 'Verdana';
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    text-align: center;
    color: #FFFFFF;
}

#period-el {
    font-family: 'Verdana';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    justify-content: center;

    color: #FFFFFF;

    padding-top: 135px;
    height: 183px;
    text-align: center;
    width: 123px;
    /* Centering in CSS can get tricky so howtocenterincss.com is
     * a fantastic resource. For example, line-height can be used
     * to vertically align a single line if we know 
     */

     cursor: pointer;
}

#periodScore-el {
    /* 123 x 24 */
    padding-top: 20px;
    background-color: #080001;
    margin-top: 15px; /* We have lessened the border at the top */
    height: 60px;

    font-family: TimerFont;
    font-size: 45px;
    color: #FFC72C;
}

#homeScore-el { 
    font-family: TimerFont;
    color: #F94F6D;
    font-size: 10vh;

    background: #080001;
    width: 14vh;
    height: 8vh;

    padding: 4vh; /* Keep in mind how the box looks in CSS, padding is on the
                   * inside of the width, whereas border radius comes around
                   * it
                   */
    margin-bottom: 10px; /* Using margin-bottom to create space between
                          * our black box (one container) and the buttons
                          * which is technically a different inline block
                          */
}

#guestScore-el { 
    font-family: TimerFont;
    color: #F94F6D;
    font-size: 10vh;

    background: #080001;
    width: 14vh;
    height: 8vh;

    padding: 4vh;
    margin-bottom: 10px;
}

.button {
    /* Since we have the same formatting for both columns essentially we
     * are using a common division for CSS beautification 
     */
    box-sizing: border-box;
    
    border: 2px solid #9AABD8;
    border-radius: 5px;

    width: 45px; 
    /* These are specifications to get a desired position for the text inside
     * the box itself. It DOES NOT adjust AROUND the box
     */
    height: 45px;
    left: 82px;
    top: 271px;

    color: #9AABD8;
    background-color: #1B244A;
    font-family: TimerFont;    
}

button:hover {
    border: 2px solid #addf2f;
    color: #addf2f;
    cursor: pointer;
}

.foulsContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.foulsText {
    font-family: 'Verdana';
    font-weight: 700;
    font-size: 20px;
    text-align: center;
    color: #FFFFFF;
}

#homeFouls-el {
    background-color: #080001;
    height: 70px;
    line-height: 80px; /* Lihe height used to center align*/
    margin-top: 10px;
    margin-bottom: 0px;
    margin-left: 10px;
    width: 50px;

    font-family: TimerFont;
    font-size: 45px;
    color: #FFC72C;

    cursor: pointer;
}

#guestFouls-el {
    background-color: #080001;
    height: 70px;
    line-height: 80px; 
    margin-top: 10px;
    margin-bottom: 0px;
    margin-left: 10px;
    width: 50px;

    font-family: TimerFont;
    font-size: 45px;
    color: #FFC72C;

    cursor: pointer;
}

.newGame {
    text-align: center; /* Centering button in block using text-align*/
}

#newGameButton {
    box-sizing: border-box;
    
    border: 2px solid #9AABD8;
    border-radius: 5px;

    width: 100px; 
    /* These are specifications to get a desired position for the text inside
     * the box itself. It DOES NOT adjust AROUND the box
     */
    height: 45px;
    left: 82px;
    top: 271px;

    color: #9AABD8;
    background-color: #1B244A;
    font-family: 'Verdana';    
}

#newGameButton:hover {
    border: 2px solid #addf2f;
    color: #addf2f;
    cursor: pointer;
}